node_modules/
.expo/
.expo-shared/
.vscode/
.idea/
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
*.project
*.classpath
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.env
.env.local
.env.*.local
coverage/
dist/
build/
.DS_Store
*.pem
.gradle/
.npm/
.node_repl_history
.yarn-integrity
.cache/
*.tsbuildinfo
